<a href="https://colab.research.google.com/github/EphemeralAnarchist/Projects/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link='https://drive.google.com/file/d/1wlioslf_DsVzaFIBasGNvA70-91NRxQi/view?usp=sharing'
id='1wlioslf_DsVzaFIBasGNvA70-91NRxQi'

In [ ]:
downloaded = drive.CreateFile({'id':id})

In [ ]:
downloaded.GetContentFile('pandasdata.csv')  
df = pd.read_csv('pandasdata.csv')
print("Original dataset:\n",df)

Original dataset:
               Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0       2008-12-01   Albury     13.4  ...     21.8         No            No
1       2008-12-02   Albury      7.4  ...     24.3         No            No
2       2008-12-03   Albury     12.9  ...     23.2         No            No
3       2008-12-04   Albury      9.2  ...     26.5         No            No
4       2008-12-05   Albury     17.5  ...     29.7         No            No
...            ...      ...      ...  ...      ...        ...           ...
145455  2017-06-21    Uluru      2.8  ...     22.4         No            No
145456  2017-06-22    Uluru      3.6  ...     24.5         No            No
145457  2017-06-23    Uluru      5.4  ...     26.1         No            No
145458  2017-06-24    Uluru      7.8  ...     26.0         No            No
145459  2017-06-25    Uluru     14.9  ...     20.9         No           NaN

[145460 rows x 23 columns]

In [ ]:
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [ ]:
maxlist=df['MaxTemp']
avgmax=maxlist.mean()
print('Average Max Temperature: ',avgmax)

minlist=df['MinTemp']
avgmin=minlist.mean()
print('Average Min Temperature: ',avgmin)

Average Max Temperature:  23.221348275647003
Average Min Temperature:  12.19403438096871

In [ ]:
sun=df['Sunshine']
evap=df['Evaporation']
counts=0
counte=0
for i in sun:
  if not pd.isnull(i):
    counts+=1
for j in evap:
  if not pd.isnull(j):
    counte+=1

print("Count of null value in Sunshine column: ",counts)
print("Count of null value in Evaporation column: ",counte)
print("Total null count of both: ",counte+counts)

Count of null value in Sunshine column:  75625
Count of null value in Evaporation column:  82670
Total null count of both:  158295

In [ ]:
locs=df['Location'].value_counts()

loclist=locs.keys()

locsums={i:[] for i in loclist}
loctemp=df[['Location','MaxTemp']]


for k in range(len(loctemp)):
  (locsums[loctemp.loc[k,'Location']]).append(loctemp.loc[k,'MaxTemp'])

In [ ]:
for l in loclist:
  while(len(locsums[l])<locs.max()):
    locsums[l].append(None)

In [ ]:
locavgpre=pd.DataFrame(locsums,columns=loclist)
locavg={i:0 for i in loclist}

for m in loclist:
  locavg[m]=locavgpre[m].mean()

print("Average Max temp by location:")
for n in loclist:
  print(n,": ",locavg[n])

print("Average Max temp at Cobar: ",locavg['Cobar'])

Average Max temp by location:
Canberra :  20.976638508593037
Sydney :  23.00197486535011
Melbourne :  20.769358407079647
Brisbane :  26.448379993708784
Darwin :  32.54097744360893
Adelaide :  22.89893416927895
Hobart :  17.8657268170426
Perth :  25.034837092731838
Albany :  20.070997990622903
AliceSprings :  29.248420013166562
MountGinini :  11.663675929025773
Townsville :  29.367160250082158
Wollongong :  21.468174314955426
GoldCoast :  25.767062314540027
Launceston :  18.954911008569553
Ballarat :  18.287265547877556
Albury :  22.64087157477713
Cairns :  29.558848684210492
MountGambier :  19.828995057660627
Bendigo :  21.621746293245476
Penrith :  24.76436629064375
Newcastle :  24.101069900142537
Tuggeranong :  20.767545304777588
Williamtown :  24.00106453759152
Sale :  20.28228058510636
Moree :  26.950548354935197
WaggaWagga :  23.031871053506087
Dartmoor :  19.69745417515278
PerthAirport :  25.53323363243602
Cobar :  25.870093147039235
Witchcliffe :  21.68624708624713
Portland :  18.055053191489367
NorfolkIsland :  21.830252659574477
Richmond :  24.458664440734577
SydneyAirport :  23.38391492190099
CoffsHarbour :  23.96538461538461
Nuriootpa :  21.704133333333292
BadgerysCreek :  24.031208053691284
Watsonia :  20.896078431372537
Mildura :  24.8409438351611
PearceRAAF :  26.051238286479286
Woomera :  26.59670658682631
MelbourneAirport :  20.491857760053122
Walpole :  20.45918436130777
NorahHead :  22.588937457969088
SalmonGums :  24.250827423167873
Nhil :  22.405152671755726
Uluru :  30.383195416931855
Katherine :  34.93543563068914
Average Max temp at Cobar:  25.870093147039235

Level 2

In [ ]:
evapmean=evap.mean()

In [ ]:
df2=pd.read_csv('pandasdata.csv')

In [ ]:
df2['Evaporation']=df2['Evaporation'].replace({None:evapmean})

In [ ]:
print("Dataset with null values in Evaporation replaced by mean:")
df2.head()

Dataset with null values in Evaporation replaced by mean:

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [ ]:
df3=pd.read_csv('pandasdata.csv')

for i in df.columns:
  for j in range(len(df)):
    if pd.isnull(df.loc[j,i]):
      df3=df3.drop(columns=i)
      break

In [ ]:
print("Dataset with all columns containing null value removed:")
df3

Dataset with all columns containing null value removed:

              Date Location
0       2008-12-01   Albury
1       2008-12-02   Albury
2       2008-12-03   Albury
3       2008-12-04   Albury
4       2008-12-05   Albury
...            ...      ...
145455  2017-06-21    Uluru
145456  2017-06-22    Uluru
145457  2017-06-23    Uluru
145458  2017-06-24    Uluru
145459  2017-06-25    Uluru

[145460 rows x 2 columns]

In [ ]:
df4=pd.read_csv('pandasdata.csv')
df4=df4.drop(columns='Date')

In [ ]:
print("Dataset without Date column:")
df4.head()

Dataset without Date column:

  Location  MinTemp  MaxTemp  Rainfall  ...  Temp9am  Temp3pm RainToday  RainTomorrow
0   Albury     13.4     22.9       0.6  ...     16.9     21.8        No            No
1   Albury      7.4     25.1       0.0  ...     17.2     24.3        No            No
2   Albury     12.9     25.7       0.0  ...     21.0     23.2        No            No
3   Albury      9.2     28.0       0.0  ...     18.1     26.5        No            No
4   Albury     17.5     32.3       1.0  ...     17.8     29.7        No            No

[5 rows x 22 columns]

Level 3

In [ ]:
def filtloc(inploc):
  print("Data of given location:")
  filt=(df['Location']==inploc)
  print(df[filt])

In [ ]:
inloc=input('Enter the desired location: ')
inloc=inloc.capitalize()
filtloc(inloc)

Enter the desired location: cobar
Data of given location:
            Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
6049  2009-01-01    Cobar     17.9  ...     33.4         No            No
6050  2009-01-02    Cobar     18.4  ...     27.0         No            No
6051  2009-01-03    Cobar     15.5  ...     32.7         No            No
6052  2009-01-04    Cobar     19.4  ...     34.9         No            No
6053  2009-01-05    Cobar     21.9  ...     35.6         No            No
...          ...      ...      ...  ...      ...        ...           ...
9053  2017-06-21    Cobar      5.8  ...     19.1         No            No
9054  2017-06-22    Cobar      2.8  ...     18.8         No            No
9055  2017-06-23    Cobar      6.9  ...     18.6         No            No
9056  2017-06-24    Cobar      8.3  ...     14.5         No            No
9057  2017-06-25    Cobar      9.1  ...     20.8         No            No

[3009 rows x 23 columns]